@import "tailwindcss";
body {
  background-color: #0d0f0c;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0d0f0c;
}

::-webkit-scrollbar-thumb {
  background: #232820;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f362a;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(139, 225, 123, .35);

  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 225, 123, .75);
}